html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;  
}

.site-wrapper {
  margin-top: 50px;
  height: 100%; 
}

.site-wrapper .row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.site-wrapper .col-md-8 {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.site-wrapper .col-md-4 {
  height: 100%;
}

.submit-buttons .btn-default,
.submit-buttons .btn-default:hover,
.submit-buttons .btn-default:focus {
  color: #000;
  text-shadow: none;
  background-color: #fff;
  border: 2px solid #000;
  outline: none;
}

#trip-details .companion-count,
#trip-details .trip-dates,
#trip-details .notes,
#trip-details .locations {
  font-size: 17px;
}

#trip-details {
  position: absolute;
  top: 0px;
  z-index: -1;
}

#trip-details .lead {
  line-height: 0.9;
}

.trip-name {
  margin-top: 20px;
  font-weight: bold;
  font-size: !important 20px;
}

#stops .stop {
  margin-left: 10px;
}

.glyphicon-menu-hamburger {
  cursor: move;
  cursor: -webkit-grabbing;
}

.glyphicon-remove {
  cursor: pointer;  
}

.pac-container { 
  z-index: 10000;
}

#edit-trip-container .lead {
  line-height: 0.9;
  font-size: 17px;
}

.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-inline .form-control {
  width: 100%;
}

.form-inline .input-group {
  width: 100%;
}

.trip-name .form-control{
  margin-left: 15px;
  width: 94.4%;
  font-weight: normal;
}

.companions .control-label {
  padding-left: 30px;
  margin-right: -50px;
  text-align: left;
}

.edit-message {
  margin-left: 15px;
  margin-top: 20px;
}

.notes .form-control {
  margin-left: 15px;
  width: 94.4%;
  resize: vertical;
}

.flexible-dates {
  margin-left: 30px;
}

.form-horizontal .checkbox {
  margin-top: 33px;
}

.creator_container {
  position: relative;
}

.user_data {
  position: absolute;
  left: 40%;
  top: 0%;
}

.col-md-4 {
  position: fixed;
  overflow-y: scroll;
}

#map-canvas {
  position: relative;
  float: right;
}  

.creator_img {
  width: 128px;
  height: 128px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  cursor: default;
}

a {
  color: #000;
}

.success {
  background: green;
  color: white;
  font-size: 17px;
  text-align: center;
  display: none;
  width: 100%;
  margin-top: 20px;
  z-index: 1000000;
}