<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Roadtrippr: Share an adventure.">
    <meta name="author" content="Birkan Uzun, Dishaan Ahuja, Tuan Tran">

    <title>Roadtrippr - Edit Your Trip</title>

    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/datetimepicker.min.css" rel="stylesheet">
    <link href="../css/edit-trip.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/validator.min.js"></script>
    <script src="../js/datetimepicker.min.js"></script>
    <script src="../js/handlebars-v3.0.1.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="../js/sortable.min.js"></script>
    <script src="../js/edit-trip.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Roadtrippr - Edit Your Trip</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="../landing.html">Home</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="profile.html">My Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="my-trips.html">My Trips</a></li> 
            <li class="dropdown" id="user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">    
                <li role="presentation"><a role="menuitem" tabindex="-1" id="logout" href="#">Logout</a></li> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="site-wrapper">
      <div class="row">
        <div class="col-md-4">
          <div id="trip-details">
            <p class="lead text-center trip-name">{{this.name}}</p>
            <hr>
            <p class="lead text-center trip-dates">From {{this.start_date}} To {{this.end_date}} ({{this.duration}})</p>
            {{#if this.are_dates_flexible}}
              <p class="text-center"><em>You are flexible with your dates.</em></p>
            {{/if}}
            <hr>
            <p class="lead text-center companion-count">Looking for {{this.companion_count}}</p>
            <hr>
            <p class="lead locations"><b>Stops:</b></p>
            <div id="stops" class="list-group">
              {{#each this.stops}}
                <div class="list-group-item stop-group-item">
                  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                  <span class="stop" aria-hidden="true">{{this.formatted_address}}</span>
                  <span class="glyphicon glyphicon-remove remove-stop" style="float:right"></span>
                </div>
              {{/each}}
            </div>
            <div class="input-group">
              <input type="text" id="new-stop" class="form-control location" placeholder="Add New Stop"/>
              <span class="input-group-btn">
                <button class="btn btn-default" id="btn-add-new-stop" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </span>
            </div>
            <hr>
            <p class="lead notes"><b>Notes:</b> {{this.notes}}</p>
            <hr>
            <div class="buttons"></div>
          </div>
          <div id="edit-trip-container" style="display:none;">
            <form class="form-horizontal" id="edit-trip-form">
              <p class="lead edit-message">Edit Trip Details other than the stops:</p>
              <div class="form-group trip-name">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-trip-form-trip-name" class="form-control" placeholder="Trip Name" required/>
                  </div>
                </div>
              </div>

              <div class="form-group dates">
                <div class="col-md-12">
                  <div class="form-inline">
                    <div class="form-group col-md-6">
                      <div class="input-group">
                        <input type="text" id="edit-trip-form-start-date" class="form-control" placeholder="Start Date" required/>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="input-group">
                        <input type="text" id="edit-trip-form-end-date" class="form-control" placeholder="End Date" required/>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="checkbox flexible-dates">
                  <label>
                    <input type="checkbox" id="flexible-dates-checkbox"> I am flexible with the dates.
                  </label>
                </div>
              </div>

              <div class="form-group companions">
                <label for="edit-trip-form-companion-count" class="col-md-4 control-label">I am looking for</label>
                <div class="col-md-6">
                  <select id="edit-trip-form-companion-count" class="form-control">
                    <option value="1 Companion">1 Companion</option>
                    <option value="2 Companions">2 Companions</option>
                    <option value="3 Companions">3 Companions</option>
                    <option value="4+ Companions">4+ Companions</option>
                  </select>
                </div>
              </div>

              <div class="form-group notes">
                <div class="col-md-12">
                  <textarea id="edit-trip-form-notes" class="form-control" rows="3" placeholder="Notes"></textarea>
                </div>
              </div>

            </form> 
          </div>
          <div class="submit-buttons">
            <p class="text-center">
              <button type="button" class="btn btn-default btn-lg" id="btn-edit-trip-details">Edit Trip Details</button>
              <button type="button" class="btn btn-default btn-lg" id="btn-share-trip">Save Changes</button>
            </p>
            <p class="text-center edit-trip-error-message" style="display:none;">
              Something went wrong trying to edit your trip. Please try again! 
            </p>
            <p class="text-center edit-trip-success-message" style="display:none;">
              Your trip was successfully edited.
            </p>
          </div>
        </div>
        <div class="col-md-8" id="map-canvas"></div>
      </div>
    </div>

  </body>

</html>