<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Roadtrippr: Share an adventure.">
        <meta name="author" content="Birkan Uzun, Dishaan Ahuja, Tuan Tran">

        <title>Roadtrippr - Search Results</title>

        <!-- CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/datetimepicker.min.css" rel="stylesheet" />
        <link href="../css/my-trips.css" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand">Roadtrippr</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../landing.html">Home</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="profile.html">My Profile</a></li>
                <li  class="active" role="presentation"><a role="menuitem" tabindex="-1" href="my-trips.html">My Trips</a></li> 
                <li class="dropdown" id="user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">    
                    <li role="presentation"><a role="menuitem" tabindex="-1" id="logout" href="#">Logout</a></li> 
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div class="heading">
                <h1>My Trips</h1>
            </div>
            <div class="alert alert-success trip-creation" role="alert" style="display:none;">You have successfully created a new trip.</div>
            <div class="alert alert-success trip-deletion" role="alert" style="display:none;">You have successfully deleted your trip.</div>
            <section id="search_results" class="col-xs-12 col-sm-6 col-md-12">
                    {{#each trips}}
                    <a href="edit-trip.html?id={{this.trip_id}}">
                    <article class="search-result row">
                        <a href="edit-trip.html?id={{this.trip_id}}">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <img class="map-img" src={{this.map_img_src}} alt={{this.map_alt_text}}>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 middle">
                                <h3>{{this.trip_name}}</h3>
                                <div class="full_route col-md-11" id={{full_route_id}}>
                                    <div class="cities_list">
                                        {{#each this.planned_full_route}}
                                            {{this}} 
                                            {{#if @last}}
                                            {{else}}
                                                <i class="glyphicon glyphicon-arrow-right"></i>
                                            {{/if}}
                                            
                                        {{/each}}
                                    </div>            
                                </div>                
                                <div id={{abbr_route_id}}>                    
                                    <div class="abbr_route">
                                        <div class="cities_list">
                                            {{#each this.planned_abbr_route}}
                                                {{this}} 
                                                {{#if @last}}
                                                {{else}}
                                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                                {{/if}}
                                                
                                            {{/each}}
                                        </div>
                                    </div>                    
                                </div>
                                <div class="dates">
                                    <p>From {{this.start_date}} to {{this.end_date}} ({{this.duration}})</p>
                                </div>
                                <div class="num_companions">
                                    <p>Looking for {{this.num_companions}}</p>
                                </div>        
                            </div> 
                        </a>          
                        <div class="col-xs-12 col-sm-12 col-md-3 right">
                            <div class="interested_users">
                                {{#if interested_users}}
                                    <h4>Interested Users:</h4>
                                {{else}}
                                    <i>No interested users.</i>
                                {{/if}}
                                <ul>
                                    {{#each interested_users}}
                                        <li>
                                            <a href="profile.html?uid={{this.uid}}&tripid={{this.tripid}}">{{this.first_name}}</a>
                                        </li>
                                    {{/each}}           
                                </ul>
                            <div>
                            <div class="companions">
                                {{#if companions}}
                                    <h4>Companions:</h4>
                                {{else}}
                                    <i>No companions.</i>
                                {{/if}}
                                <ul>
                                    {{#each companions}}
                                        <li>
                                            <a href="profile.html?uid={{this.uid}}">{{this.first_name}}</a>
                                        </li>
                                    {{/each}}           
                                </ul>
                            <div>                                       

                        </div>
                        <span class="clearfix borda"></span>         
                    </article>
                    {{/each}}   
            </section>
                    <p class="text-center lead" id="noTripsMessage" style="display:none; padding-top:20">
                     You currently do not have any trips. Go to your Home Page to create one! 
                    </p>
        </div>

        <!-- JavaScript -->
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src="../js/jquery-2.1.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/handlebars-v3.0.1.js"></script>      
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>    
        <script src="../js/my-trips.js"></script>

    </body>
</html>
