<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Roadtrippr: Share an adventure.">
    <meta name="author" content="Birkan Uzun, Dishaan Ahuja, Tuan Tran">

    <title>Profile</title>

    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Roadtrippr</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="../landing.html">Home</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="profile.html">My Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="my-trips.html">My Trips</a></li> 
            <li class="dropdown" id="user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">    
                <li role="presentation"><a role="menuitem" tabindex="-1" id="logout" href="#">Logout</a></li> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="edit-profile-reminder" class="alert alert-warning" role="alert" style="display:none;">Please add details to your profile before continuing to use Roadtrippr</div>
      <div id="profile">
        <div id="profile-details">
          <center>
            <img src="{{photo}}" name="aboutme" width="140" height="140" class="img-circle">
            <h2><span id="first-name">{{first_name}}<span> <span id="last-name">{{last_name}}</span></h2>
            <h5 id="gender">{{gender}}</h5>
            <h5 id="age">{{age}}</h5>
            <h5 id="city">{{city}}</h5>
            <h5 id="occupation">{{occupation}}</h5>
            <button type="button" class="label label-warning" id="chat-button">CHAT</button> <button type="button" class="label label-info" id="favorite-button">FAVORITE</button><br>
          </center>
          <br>
          <center>
            <div class="text-left">
              <h3 class="profile-info">About Me: </h3><span class="profile-info" id="about-me">{{about_me}}</span>
            </div>
            <br>
            <div class="text-left">
              <h3 class="profile-info">6 Things I Couldn't Travel Without: </h3><span class="profile-info" id="six-things">{{six_things}}</span>
            </div>
            <br>
            <div class="text-left">
              <h3 class="profile-info">Best Places I've Been To: </h3><span class="profile-info" id="best-places">{{best_places}}</span>
            </div>
          </center>
        </div>

        <div id="edit-profile-container" style="display:none;">
          <center>
            <img src="{{photo}}" name="aboutme" width="140" height="140" class="img-circle">
          </center>
          <br>
          <center>
            <form class="form-horizontal" id="edit-profile-form">
              <div class="form-group user-first-name">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-profile-form-user-first-name" class="form-control" placeholder="First Name" value="{{first_name}}" required/>
                  </div>
                </div>
              </div>
              <div class="form-group user-last-name">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-profile-form-user-last-name" class="form-control" placeholder="Last Name" value="{{last_name}}" required/>
                  </div>
                </div>
              </div>
              <div class="form-group user-gender">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-profile-form-user-gender" class="form-control" placeholder="Gender" value="{{gender}}" required/>
                  </div>
                </div>
              </div>
              <div class="form-group user-age">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="number" id="edit-profile-form-user-age" class="form-control" placeholder="Age" value="{{age}}" min="1" required/>
                  </div>
                </div>
              </div>
              <div class="form-group user-city">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-profile-form-user-city" class="form-control" placeholder="City" value="{{city}}" required/>
                  </div>
                </div>
              </div>
              <div class="form-group user-occupation">
                <div class="col-md-12">
                  <div class="form-inline">  
                    <input type="text" id="edit-profile-form-user-occupation" class="form-control" placeholder="Occupation" value="{{occupation}}" required/>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-lg user-about-me">
                <input type="text" id="edit-profile-form-user-about-me" class="form-control" placeholder="About Me" value="{{about_me}}" required/>
              </div>
              <div class="form-group form-group-lg user-six-things">
                <input type="text" id="edit-profile-form-user-six-things" class="form-control" placeholder="6 Things I Couldn't Travel Without" value="{{six_things}}" required/>
              </div>
              <div class="form-group form-group-lg user-best-places">
                <input type="text" id="edit-profile-form-user-best-places" class="form-control" placeholder="Best Places I've Been To" value="{{best_places}}" required/>
              </div>
            </form>
          </center>        
        </div>
      </div>

      <br>

      <div class="submit-buttons">
        <p class="text-center">
          <button type="button" class="btn btn-default btn-lg" id="btn-edit-profile-details">Edit Profile</button>
          <button type="button" class="btn btn-default btn-lg" id="btn-edit-profile-save" style="display:none">Save Changes</button>
        </p>
      </div>
    </div>
    <!-- JavaScript -->
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/handlebars-v3.0.1.js"></script>
    <script src="../js/validator.min.js"></script>
    <script src="../js/profile.js"></script>
    <script src="../js/json/users.js"></script>
  </body>

</html>
